<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/mydataclient.js"></script>
  </head>
  <body>
    <h1>My Data</h1>
    <input type="text" id="myname">
    <p>Welcome </p>
    <div id="data">Hello</div>
    <button id="btn">Get Data</button>
   <button id="btnMore" >Get More Data</button>
   <button id="btnPost" >Get More Data1 Post</button>
  </body>
</html>