<!DOCTYPE html>
<html>
<head>
    <title>My Data</title>
    <script src="javascripts/mydataclient.js"></script>
</head>
<body>
<p> Welcome </p>
<button>Get Data</button>
<p>Hello <%= data %> </p>

</body>
</html>