<!doctype html>
<html ng-app>
<head>
    <script src="lib/angular/angular.min.js" type="text/javascript"></script>
</head>
<body>
<div ng-controller="Controller">
    <input type="checkbox" ng-model="confirmed" ng-change="change()" id="ng-change-example1" />
    <input type="checkbox" ng-model="confirmed" id="ng-change-example2" />
    <label for="ng-change-example2">Confirmed</label><br />
    debug = {{confirmed}}<br />
    counter = {{counter}}
</div>

<script>
    function Controller($scope) {
        $scope.counter = 0;
        $scope.change = function() {
            $scope.counter++;
        };
    }
</script>
</body>
</html>