<!DOCTYPE html>
<html>
  <head>
    <title>My Data Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src ="/javascripts/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src ="/javascripts/mydataclient.js" type="text/javascript"></script>
  </head>
<body>
    <h1>MyData</h1>
    <input type="text" id="myname">
    <p>Welcom </p>
    <div id="data">Hello</div>
    <button id="btn">Get Data</button>
    <button id="btnMore">Get More Data</button>
    <button id="btnPost">Post Data</button>
</body>
</html>